**Working with Vector Data in R Tutorial Series:** This tutorial is part of a series on 
<a href="/vector-data-series" target="_blank"> working with vector data in R </a>.
It is also part of a
<a href="http://www.datacarpentry.org/lessons/#geospatial-data-workshop" target="_blank"> Data Carpentry workshop</a> 
on using spatio-temporal in R</a>.
Other related series include:
<a href="/spatial-data-management-series" target="_blank"> intro to spatio-temporal data and data management</a>,
<a href="/raster-data-series" target="_blank"> working with raster time-series data in R</a>,
and
<a href="/tabular-time-series" target="_blank"> working with tabular time series data in R </a>.