**Working with Tabular Time-Series Data in R Tutorial Series:** This tutorial is part of a series on 
[working with tabular time series data in R ]({{ site.baseurl }}tutorial-series/tabular-time-series/).
It is also part of a larger spatio-temporal tutorial series and Data Carpentry workshop on 
[using spatio-temporal phenology-related data in R ]({{ site.baseurl }}tutorial-series/neon-dc-phenology-series/)
that includes series on
[intro to spatio-temporal data and data management]({{ site.baseurl }}tutorial-series/spatial-data-management-series/),
[working with raster time-series data in R ]({{ site.baseurl }}tutorial-series/raster-time-series/),
[working with vector data in R ]({{ site.baseurl }}tutorial-series/vector-data-series/)
and
[working with tabular time series data in R ]({{ site.baseurl }}tutorial-series/tabular-time-series/).
