version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: sudo apt-get install -y libpng-dev
      - run:
          name: Install PHP Extensions
          command: sudo docker-php-ext-install gd
      - run:
          name: Setup Git Configuration
          command: |
            git config --global user.email "ci@atendesigngroup.com"
            git config --global user.name "Deploy Bot"
      - run:
          name: Deploy Markdown Content
          command: php ./scripts/Deploy.php

workflows:
  version: 2
  build-deploy:
        jobs:
          - build:
              filters:
                branches: 
                  only:
                    - main
