<h3 id="set-wd">Set Working Directory to Downloaded Data</h3>

<h4 id="down-data">1) Download Data</h4>

After clicking on the **Download Data** button, the data will automatically 
download to the computer. 

<h4 id="zip">2) Locate .zip file</h4>
Second, find the downloaded .zip file. Many browsers save downloaded files to 
your computer’s **Downloads** directory. If you have previously specified a 
specific directory (folder) for downloaded files, the .zip file will download 
there.


<h4 id="data">3) Move to **data** directory</h4>
Third, move the downloaded file to a directory called **data** within the
**Documents** directory on your computer. You can choose to place the data
in other locations, however, you will need to remember to set your R Working 
Directory to that location and not as we demonstrate in the workshop. 


<h4 id="unzip">4) Unzip/uncompress</h4>

Fourth, we need to unzip/uncompress the file so that the data files can be 
accessed. Use your favorite tool that can unpackage/open .zip files (e.g.,
winzip, Archive Utility, etc). The files will now be accessible in three directories:

These directories contain all of the subdirectories and files that
we will use in this workshop. 

<h4 id="wd">5) Set working directory</h4>
Fifth, we need to set the working directory in R to this **data** directory that
is parent to the directories containing the data we want.  For complete directions, 
on how to do that check out the
<a href="/set-working-directory-r" target="_blank">Set A Working Directory in R tutorial</a>.  