<h3 id="git-setup">Git Setup</h3>

Git is a version control system that lets you track who made changes to what
when and has options for easily updating a shared or public version of your code
on <a href="https://github.com/" target="_blank" >GitHub</a>. You will need a
<a href="https://help.github.com/articles/supported-browsers/" target="_blank">supported</a>
web browser (current versions of Chrome, Firefox or Safari, or Internet Explorer
version 9 or above).
<p>
Git installation instructions borrowed and modified from
<a href="http://software-carpentry.org/" target="_blank"> Software Carpentry</a>.</p>

<h4 id="git-windows">Git for Windows</h4>
Git should be installed on your computer as part of your Bash install.

<h4 id="git-mac">Git on Mac OS X</h4>
<a href="https://www.youtube.com/watch?v=9LQhwETCdwY" target="_blank">Video Tutorial</a>
<p>

Install Git on Macs by downloading and running the most recent installer for
"mavericks" if you are using OS X 10.9 and higher -or- if using an
earlier OS X, choose the most recent "snow leopard" installer, from
<a href="http://sourceforge.net/projects/git-osx-installer/files/"  target="_blank">this list</a>.
After installing Git, there will not be anything in your
<code>/Applications</code> folder, as Git is a command line program. </p>


<i class="fa fa-star"></i> **Data Tip:**
If you are running Mac OSX El Capitan, you might encounter errors when trying to
use git. Make sure you update XCODE.
<a href="http://stackoverflow.com/questions/32893412/command-line-tools-not-working-os-x-el-capitan" target="_blank">
  Read more - a Stack Overflow Issue.</a>
{: .notice}

<h4 id="git-linux">Git on Linux</h4>

If Git is not already available on your machine you can try to
install it via your distro's package manager. For Debian/Ubuntu run
<code>sudo apt-get install git</code> and for Fedora run
<code>sudo yum install git</code>.
