<h2 id="R-setup"> Setting Up R & RStudio</h2>

<h4 id="R-windows">Windows R/RStudio Setup</h4>

*  <a href="http://cran.r-project.org/bin/windows/base/release.htm" target="_blank">Download R for Windows here</a>
* Run the .exe file that was just downloaded
* <a href="http://www.rstudio.com/ide/download/desktop" target="_blank">Go to the RStudio Download page</a>
* Under <i>Installers</i> select <b>RStudio 0.98.1103 - Windows XP/Vista/7/8</b>
* Double click the file to install it


Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 

<h4 id="R-mac"> Mac R/RStudio Setup</h4>


* If your Mac is set up for UiO use, you can install R from 
    <a href="https://www.uio.no/tjenester/it/maskin/macosx/drift/munki-overview.html" target="_blank">Managed Software Center</a>
  
* Go to <a href="http://cran.r-project.org" target="_blank">CRAN</a> and click on <i>Download
R for (Mac) OS X</i>
* Select the .pkg file for the version of OS X that you have and the file
will download.
* Double click on the file that was downloaded and R will install
* Go to the <a href="http://www.rstudio.com/ide/download/desktop" target="_blank">RStudio Download page</a>
* Under <i>Installers</i> select <b>RStudio 0.98.1103 - Mac OS X 10.6+ (64-bit)</b> to download it.
* Once it's downloaded, double click the file to install it

Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 


<h4 id="R-linux"> Linux R/RStudio Setup</h4>

* R is available through most Linux package managers. 
You can download the binary files for your distribution
        from <a href="http://cran.r-project.org/index.html" target="_blank">CRAN</a>. Or
        you can use your package manager (e.g. for Debian/Ubuntu
        run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>). 
* To install RStudi, go to the <a href="http://www.rstudio.com/ide/download/desktop" target="_blank">RStudio Download page</a>
* Under <i>Installers</i> select the version for your distribution.
* Once it's downloaded, double click the file to install it

Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 



