<h2 id="bash-setup">Bash/Shell Setup</h2>

<h4 id="shell-windows">Install Bash for Windows</h4>
<ol>
<li>Download the Git for Windows <a href="https://git-for-windows.github.io/" target="_blank">installer</a>.</li>
<li>Run the installer and follow the steps bellow:
  <ol>
	<!-- Git 2.6.1 Setup -->
	<!-- Welcome to the Git Setup Wizard -->
	<li>Welcome to the Git Setup Wizard: Click on "Next".</li>
	<!-- Information -->
	<li>Information: Click on "Next".</li>
	<!-- Select Destination Location -->
	<li>Select Destination Location: Click on "Next".</li>
	<!-- Select Components -->
	<li>Select Components: Click on "Next".</li>
	<!-- Select Start Menu Folder -->
	<li>Select Start Menu Folder: Click on "Next".</li>
	<!-- Adjusting your PATH environment -->
	<li>Adjusting your PATH environment: 
	  <strong>
		Select "Use Git from the Windows Command Prompt" and click on "Next".
	  </strong>
		If you forgot to do this programs that you need for the event will not work properly.
		If this happens rerun the installer and select the appropriate option.
	</li>
	<!-- Configuring the line ending conversions -->
	<li>
	  Configuring the line ending conversions: Click on "Next".
	  <strong>
		Keep "Checkout Windows-style, commit Unix-style line endings" selected.
	  </strong>
	</li>
	<!-- Configuring the terminal emulator to use with Git Bash -->
	<li> Configuring the terminal emulator to use with Git Bash:
	  <strong>
		 Select "Use Windows' default console window" and click on "Next".
	  </strong>
	</li>
	<!-- Configuring experimental performance tweaks -->
	<li>Configuring experimental performance tweaks: Click on "Next".</li>
	<!-- Installing -->
	<!-- Completing the Git Setup Wizard -->
	<li>Completing the Git Setup Wizard: Click on "Finish".</li>
  </ol>
</li>
</ol>
<p>This will provide you with both Git and Bash in the Git Bash program.</p>


<h4 id="shell-macosx">Install Bash for Mac OS X</h4>
<p>
The default shell in all versions of Mac OS X is bash, so no
need to install anything.  You access bash from the Terminal
(found in
<code>/Applications/Utilities</code>).  You may want to keep
Terminal in your dock for this workshop.
</p>


<h4 id="shell-linux">Install Bash for Linux</h4>

The default shell is usually Bash, but if your
machine is set up differently you can run it by opening a
terminal and typing <code>bash</code>.  There is no need to
install anything.

