<h3 id="R-setup"> Setting Up R & RStudio</h3>

<h4 id="R-windows">Windows R/RStudio Setup</h4>

*  Please visit the <a href="https://cran.r-project.org/" target="_blank">CRAN Website</a> to download the latest version of R for windows.
* Run the .exe file that was just downloaded
* Go to the <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">RStudio Download page</a>
* Download the latest version of Rstudio for Windows
* Double click the file to install it


Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 

<h4 id="R-mac"> Mac R/RStudio Setup</h4>

* Go to <a href="http://cran.r-project.org" target="_blank">CRAN</a> and click on <i>Download
R for (Mac) OS X</i>
* Select the .pkg file for the version of OS X that you have and the file
will download.
* Double click on the file that was downloaded and R will install
* Go to the <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">RStudio Download page</a>
* Download the latest version of Rstudio for Mac
* Once it's downloaded, double click the file to install it

Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 


<h4 id="R-linux"> Linux R/RStudio Setup</h4>

* R is available through most Linux package managers. 
You can download the binary files for your distribution
        from <a href="http://cran.r-project.org/index.html" target="_blank">CRAN</a>. Or
        you can use your package manager (e.g. for Debian/Ubuntu
        run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>). 
* To install RStudio, go to the <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">RStudio Download page</a>
* Under <i>Installers</i> select the version for your distribution.
* Once it's downloaded, double click the file to install it

Once R and RStudio are installed, click to open RStudio. If you don't get any error messages you are set.  If there is an error message, you will need to re-install the program. 

<p>
</p>


