To complete this tutorial, you will need data available from the NEON 2017 Data
Institute teaching data set available for download.  

<a href="https://neondata.sharefile.com/d-sf1eb1e9c5174760a" class="btn btn-success">
Download NEON Teaching Data Subset: Data Institute 2017 Data Set</a>

The LiDAR and imagery data used to create this raster teaching data subset 
were collected over the 
<a href="http://www.neonscience.org/" target="_blank"> National Ecological Observatory Networks</a> 
<a href="http://www.neonscience.org/science-design/field-sites/" target="_blank" >field sites</a>
and processed at
<a href="http://www.neonscience.org" target="_blank" >NEON headquarters.</a> 
The entire dataset can be accessed by request from the 
<a href="http://www.neonscience.org/data-resources/get-data/airborne-data" target="_blank"> NEON Airborne Data Request Page </a> on the NEON website.
