<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>Aligned Plots</title>

<script type="text/javascript">
window.onload = function() {
  var imgs = document.getElementsByTagName('img'), i, img;
  for (i = 0; i < imgs.length; i++) {
    img = imgs[i];
    // center an image if it is the only element of its parent
    if (img.parentElement.childElementCount === 1)
      img.parentElement.style.textAlign = 'center';
  }
};
</script>





<style type="text/css">
body, td {
   font-family: sans-serif;
   background-color: white;
   font-size: 13px;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 20px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 {
   font-size:2.2em;
}

h2 {
   font-size:1.8em;
}

h3 {
   font-size:1.4em;
}

h4 {
   font-size:1.0em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre, img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}
pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 1px solid #ccc;
}

code[class] {
  background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}
</style>



</head>

<body>
<p>This tutorial discusses ways to plot plant phenology (discrete time
series) and single-aspirated temperature (continuous time series) together.</p>

<div id="ds-objectives" markdown="1">

## Objectives
After completing this tutorial, you will be able to:

 * plot multiple figures together with grid.arrange()
 * plot only a subset of dates

## Things You’ll Need To Complete This Tutorial
You will need the most current version of R and, preferably, RStudio loaded
on your computer to complete this tutorial.

### Install R Packages
* **ggplot2:** install.packages(&ldquo;ggplot2&rdquo;)
* **gridExtra:** install.packages(&ldquo;gridExtra&rdquo;)
* **dplyr:** install.packages(&ldquo;dplyr&rdquo;)
* **lubridate:** install.packages(&ldquo;lubridate&rdquo;)
* **scales:** install.packages(&ldquo;scales&rdquo;)


<a href="https://www.neonscience.org/packages-in-r" target="_blank"> More on Packages in R </a>– Adapted from Software Carpentry.

### Download Data 

{% include/dataSubsets/_data_NEON-pheno-temp-timeseries.html %}

****
{% include/_greyBox-wd-rscript.html %}

</div>

<p>First, we&#39;ll set up the environment. If you are continuing from the last 
tutorial, simply load the new packages, as you already have the data as an R 
object. </p>

<pre><code># Load required libraries
library(ggplot2)
library(dplyr)
library(lubridate)
library(gridExtra)
library(scales)  # use with date_breaks

# set working directory to ensure R can find the file we wish to import
# setwd(&quot;working-dir-path-here&quot;)

# Read in data -&gt; if in series this is unnecessary
temp_day &lt;- read.csv(&#39;NEON-pheno-temp-timeseries/temp/NEONsaat_daily_SCBI_2016.csv&#39;,
        stringsAsFactors = FALSE)

## Warning in file(file, &quot;rt&quot;): cannot open file &#39;NEON-pheno-temp-timeseries/temp/
## NEONsaat_daily_SCBI_2016.csv&#39;: No such file or directory

## Error in file(file, &quot;rt&quot;): cannot open the connection

phe_1sp_2016 &lt;- read.csv(&#39;NEON-pheno-temp-timeseries/pheno/NEONpheno_LITU_Leaves_SCBI_2016.csv&#39;,
        stringsAsFactors = FALSE)

## Warning in file(file, &quot;rt&quot;): cannot open file &#39;NEON-pheno-temp-timeseries/pheno/
## NEONpheno_LITU_Leaves_SCBI_2016.csv&#39;: No such file or directory

## Error in file(file, &quot;rt&quot;): cannot open the connection

# Convert dates
temp_day$sDate &lt;- as.Date(temp_day$sDate)

## Error in as.Date(temp_day$sDate): object &#39;temp_day&#39; not found

phe_1sp_2016$date &lt;- as.Date(phe_1sp_2016$date)

## Error in as.Date(phe_1sp_2016$date): object &#39;phe_1sp_2016&#39; not found
</code></pre>

<h2>Aligned Plots</h2>

<p>We&#39;ve previously looked at the plots apart, but let&#39;s plot them in the same 
pane. </p>

<p>We can do this with the <code>grid.arrange()</code> function from the gridExtra package. </p>

<pre><code>phenoPlot &lt;- ggplot(phe_1sp_2016, aes(date, n.y)) +
    geom_bar(stat=&quot;identity&quot;, na.rm = TRUE) +
    ggtitle(&quot;Total Individuals in Leaf&quot;) +
    xlab(&quot;Date&quot;) + ylab(&quot;Number of Individuals&quot;) +
    theme(plot.title = element_text(lineheight=.8, face=&quot;bold&quot;, size = 20)) +
    theme(text = element_text(size=18))

## Error in ggplot(phe_1sp_2016, aes(date, n.y)): object &#39;phe_1sp_2016&#39; not found

phenoPlot

## Error in eval(expr, envir, enclos): object &#39;phenoPlot&#39; not found

tempPlot_dayMax &lt;- ggplot(temp_day, aes(sDate, dayMax)) +
    geom_point() +
    ggtitle(&quot;Daily Max Air Temperature&quot;) +
    xlab(&quot;&quot;) + ylab(&quot;Temp (C)&quot;) +
    theme(plot.title = element_text(lineheight=.8, face=&quot;bold&quot;, size = 20)) +
    theme(text = element_text(size=18))

## Error in ggplot(temp_day, aes(sDate, dayMax)): object &#39;temp_day&#39; not found

tempPlot_dayMax

## Error in eval(expr, envir, enclos): object &#39;tempPlot_dayMax&#39; not found

# Output with both plots
grid.arrange(phenoPlot, tempPlot_dayMax) 

## Error in arrangeGrob(...): object &#39;phenoPlot&#39; not found
</code></pre>

<h3>Format Dates in Axis Labels</h3>

<p>Hmmm&hellip; the x-axis on both plots is kinda wonky. For the pheno data, We might 
want a different
date display format (e.g. 2016-07 vs. Jul); for the temp data there are a TON of tick
marks! These parameters can be adujusted with <code>scale_x_date</code>. Let&#39;s format the x-axis
ticks so they read &ldquo;month&rdquo; (<code>%b</code>) in both graphs. We will use the syntax:</p>

<p><code>scale_x_date(labels=date_format(&quot;%b&quot;&quot;)</code></p>

<p>Rather than re-coding the entire plot, we can add the <code>scale_x_date</code> element
to the plot object <code>phenoPlot</code> we just created. </p>

<div id="ds-dataTip" markdown="1">
<i class="fa fa-star"></i> **Data Tip:** You can type ?strptime into the R 
console to find a list of date format conversion specifications (e.g. %b = month).
Type scale_x_date for a list of parameters that allow you to format dates 
on the x-axis.
</div>

<div id="ds-dataTip" markdown="1">
<i class="fa fa-star"></i> **Data Tip:** If you are working with a date & time
class (e.g. POSIXct), you can use scale_x_datetime instead of scale_x_date.
</div>

<pre><code># format x-axis: dates
phenoPlot &lt;- phenoPlot + 
  (scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)))

## Error in eval(expr, envir, enclos): object &#39;phenoPlot&#39; not found

phenoPlot

## Error in eval(expr, envir, enclos): object &#39;phenoPlot&#39; not found

tempPlot_dayMax &lt;- tempPlot_dayMax +
  (scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)))

## Error in eval(expr, envir, enclos): object &#39;tempPlot_dayMax&#39; not found

tempPlot_dayMax

## Error in eval(expr, envir, enclos): object &#39;tempPlot_dayMax&#39; not found

# Output with both plots
grid.arrange(phenoPlot, tempPlot_dayMax) 

## Error in arrangeGrob(...): object &#39;phenoPlot&#39; not found
</code></pre>

<h3>Align Datasets</h3>

<p>We have different start and end dates, which makes it harder to see trends. 
Let&#39;s align the datasets and replot</p>

<pre><code># align dates
temp_day_fit &lt;- filter(temp_day, sDate &gt;= min(phe_1sp_2016$date) &amp; sDate &lt;= max(phe_1sp_2016$date))

## Error in filter(temp_day, sDate &gt;= min(phe_1sp_2016$date) &amp; sDate &lt;= max(phe_1sp_2016$date)): object &#39;temp_day&#39; not found

# Check it
range(phe_1sp_2016$date)

## Error in eval(expr, envir, enclos): object &#39;phe_1sp_2016&#39; not found

range(temp_day_fit$sDate)

## Error in eval(expr, envir, enclos): object &#39;temp_day_fit&#39; not found

#plot again
tempPlot_dayMax_corr &lt;- ggplot(temp_day_fit, aes(sDate, dayMax)) +
    geom_point() +
    scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)) +
    ggtitle(&quot;Daily Max Air Temperature&quot;) +
    xlab(&quot;&quot;) + ylab(&quot;Temp (C)&quot;) +
    theme(plot.title = element_text(lineheight=.8, face=&quot;bold&quot;, size = 20)) +
    theme(text = element_text(size=18))

## Error in ggplot(temp_day_fit, aes(sDate, dayMax)): object &#39;temp_day_fit&#39; not found

grid.arrange(phenoPlot, tempPlot_dayMax_corr)

## Error in arrangeGrob(...): object &#39;phenoPlot&#39; not found
</code></pre>

<h2>Same plot with two Y-axes</h2>

<p>What about layering these plots and having two y-axes (right and left) that have
the different scale bars. This might look cool. </p>

<p>However, some argue that you should not do this as it 
can distort what is actually going on with the data. The author of the ggplot2 
package is one of these individuals. Therefore, you cannot use <code>ggplot()</code> to 
create a single plot with multiple Y scales. You can read his own discussion of
the topic on this 
<a href="https://stackoverflow.com/questions/3099219/plot-with-2-y-axes-one-y-axis-on-the-left-and-another-y-axis-on-the-right/3101876#3101876" target="_blank" > StackOverflow post</a>.</p>

<hr/>

<p>However, individuals have found work arounds for these plots. The below code
is provided as a demonstration of this capability. Note, by showing this code 
here, we don&#39;t necessarily endorse having plots with two y-axes.</p>

<p>This code is adapted from code by <a href="heareresearch.blogspot.com/2014/10/10-30-2014-dual-y-axis-graph-ggplot2_30.html" target="_blank">Jake Heare</a>. </p>

<pre><code># Source: http://heareresearch.blogspot.com/2014/10/10-30-2014-dual-y-axis-graph-ggplot2_30.html

# Additional packages needed
library(gtable)
library(grid)


#Pheno data as bars, temp as scatter
grid.newpage()
phenoPlot_2 &lt;- ggplot(phe_1sp_2016, aes(date, n.y)) +
  geom_bar(stat=&quot;identity&quot;, na.rm = TRUE) +
  scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)) +
  ggtitle(&quot;Total Individuals in Leaf vs. Temp (C)&quot;) +
  xlab(&quot;Date&quot;) + ylab(&quot;Number of Individuals&quot;) +
  theme_bw()+
  theme(legend.justification=c(0,1),
        legend.position=c(0,1),
        plot.title=element_text(size=25,vjust=1),
        axis.text.x=element_text(size=20),
        axis.text.y=element_text(size=20),
        axis.title.x=element_text(size=20),
        axis.title.y=element_text(size=20))

## Error in ggplot(phe_1sp_2016, aes(date, n.y)): object &#39;phe_1sp_2016&#39; not found

tempPlot_dayMax_corr_2 &lt;- ggplot() +
  geom_point(data = temp_day_fit, aes(sDate, dayMax),color=&quot;red&quot;) +
  scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)) +
  xlab(&quot;&quot;) + ylab(&quot;Temp (C)&quot;) +
  theme_bw() %+replace% 
  theme(panel.background = element_rect(fill = NA),
        panel.grid.major.x=element_blank(),
        panel.grid.minor.x=element_blank(),
        panel.grid.major.y=element_blank(),
        panel.grid.minor.y=element_blank(),
        axis.text.y=element_text(size=20,color=&quot;red&quot;),
        axis.title.y=element_text(size=20))

## Error in fortify(data): object &#39;temp_day_fit&#39; not found

g1&lt;-ggplot_gtable(ggplot_build(phenoPlot_2))

## Error in ggplot_build(phenoPlot_2): object &#39;phenoPlot_2&#39; not found

g2&lt;-ggplot_gtable(ggplot_build(tempPlot_dayMax_corr_2))

## Error in ggplot_build(tempPlot_dayMax_corr_2): object &#39;tempPlot_dayMax_corr_2&#39; not found

pp&lt;-c(subset(g1$layout,name==&quot;panel&quot;,se=t:r))

## Error in subset(g1$layout, name == &quot;panel&quot;, se = t:r): object &#39;g1&#39; not found

g&lt;-gtable_add_grob(g1, g2$grobs[[which(g2$layout$name==&quot;panel&quot;)]],pp$t,pp$l,pp$b,pp$l)

## Error in is.gtable(x): object &#39;g1&#39; not found

ia&lt;-which(g2$layout$name==&quot;axis-l&quot;)

## Error in which(g2$layout$name == &quot;axis-l&quot;): object &#39;g2&#39; not found

ga &lt;- g2$grobs[[ia]]

## Error in eval(expr, envir, enclos): object &#39;g2&#39; not found

ax &lt;- ga$children[[2]]

## Error in eval(expr, envir, enclos): object &#39;ga&#39; not found

ax$widths &lt;- rev(ax$widths)

## Error in rev(ax$widths): object &#39;ax&#39; not found

ax$grobs &lt;- rev(ax$grobs)

## Error in rev(ax$grobs): object &#39;ax&#39; not found

ax$grobs[[1]]$x &lt;- ax$grobs[[1]]$x - unit(1, &quot;npc&quot;) + unit(0.15, &quot;cm&quot;)

## Error in eval(expr, envir, enclos): object &#39;ax&#39; not found

g &lt;- gtable_add_cols(g, g2$widths[g2$layout[ia, ]$l], length(g$widths) - 1)

## Error: x must be a gtable

g &lt;- gtable_add_grob(g, ax, pp$t, length(g$widths) - 1, pp$b)

## Error: x must be a gtable

grid.draw(g)

## Error in UseMethod(&quot;grid.draw&quot;): no applicable method for &#39;grid.draw&#39; applied to an object of class &quot;H5IdComponent&quot;

#Both pheno data and temp data as line graphs
grid.newpage()
phenoPlot_3 &lt;- ggplot(phe_1sp_2016, aes(date, n.y)) +
  geom_line(na.rm = TRUE) +
  scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)) +
  ggtitle(&quot;Total Individuals in Leaf vs. Temp (C)&quot;) +
  xlab(&quot;Date&quot;) + ylab(&quot;Number of Individuals&quot;) +
  theme_bw()+
  theme(legend.justification=c(0,1),
        legend.position=c(0,1),
        plot.title=element_text(size=25,vjust=1),
        axis.text.x=element_text(size=20),
        axis.text.y=element_text(size=20),
        axis.title.x=element_text(size=20),
        axis.title.y=element_text(size=20))

## Error in ggplot(phe_1sp_2016, aes(date, n.y)): object &#39;phe_1sp_2016&#39; not found

tempPlot_dayMax_corr_3 &lt;- ggplot() +
  geom_line(data = temp_day_fit, aes(sDate, dayMax),color=&quot;red&quot;) +
  scale_x_date(breaks = date_breaks(&quot;months&quot;), labels = date_format(&quot;%b&quot;)) +
  xlab(&quot;&quot;) + ylab(&quot;Temp (C)&quot;) +
  theme_bw() %+replace% 
  theme(panel.background = element_rect(fill = NA),
        panel.grid.major.x=element_blank(),
        panel.grid.minor.x=element_blank(),
        panel.grid.major.y=element_blank(),
        panel.grid.minor.y=element_blank(),
        axis.text.y=element_text(size=20,color=&quot;red&quot;),
        axis.title.y=element_text(size=20))

## Error in fortify(data): object &#39;temp_day_fit&#39; not found

g1&lt;-ggplot_gtable(ggplot_build(phenoPlot_3))

## Error in ggplot_build(phenoPlot_3): object &#39;phenoPlot_3&#39; not found

g2&lt;-ggplot_gtable(ggplot_build(tempPlot_dayMax_corr_3))

## Error in ggplot_build(tempPlot_dayMax_corr_3): object &#39;tempPlot_dayMax_corr_3&#39; not found

pp&lt;-c(subset(g1$layout,name==&quot;panel&quot;,se=t:r))

## Error in subset(g1$layout, name == &quot;panel&quot;, se = t:r): object &#39;g1&#39; not found

g&lt;-gtable_add_grob(g1, g2$grobs[[which(g2$layout$name==&quot;panel&quot;)]],pp$t,pp$l,pp$b,pp$l)

## Error in is.gtable(x): object &#39;g1&#39; not found

ia&lt;-which(g2$layout$name==&quot;axis-l&quot;)

## Error in which(g2$layout$name == &quot;axis-l&quot;): object &#39;g2&#39; not found

ga &lt;- g2$grobs[[ia]]

## Error in eval(expr, envir, enclos): object &#39;g2&#39; not found

ax &lt;- ga$children[[2]]

## Error in eval(expr, envir, enclos): object &#39;ga&#39; not found

ax$widths &lt;- rev(ax$widths)

## Error in rev(ax$widths): object &#39;ax&#39; not found

ax$grobs &lt;- rev(ax$grobs)

## Error in rev(ax$grobs): object &#39;ax&#39; not found

ax$grobs[[1]]$x &lt;- ax$grobs[[1]]$x - unit(1, &quot;npc&quot;) + unit(0.15, &quot;cm&quot;)

## Error in eval(expr, envir, enclos): object &#39;ax&#39; not found

g &lt;- gtable_add_cols(g, g2$widths[g2$layout[ia, ]$l], length(g$widths) - 1)

## Error: x must be a gtable

g &lt;- gtable_add_grob(g, ax, pp$t, length(g$widths) - 1, pp$b)

## Error: x must be a gtable

grid.draw(g)

## Error in UseMethod(&quot;grid.draw&quot;): no applicable method for &#39;grid.draw&#39; applied to an object of class &quot;H5IdComponent&quot;
</code></pre>

</body>

</html>
