<a href="https://ndownloader.figshare.com/files/7024271" class="link--button link--arrow">
Download NEON Teaching Data Subset: Imaging Spectrometer Data - HDF5 </a>

These hyperspectral remote sensing data provide information on the
<a href="/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="{{ site.baseurl }}/field-sites/field-sites-map/SJER" target="_blank" > San Joaquin Exerimental Range field site.</a>
The data were collected over the San Joaquin field site located in California 
(Domain 17) and processed at NEON headquarters. The entire dataset can be accessed by request from the 
<a href="http://data.neonscience.org" target="_blank"> NEON Data Portal</a>.