<a href="https://ndownloader.figshare.com/articles/3205075/versions/12" class="link--button link--arrow">
Download NEON Teaching Data Subset: Data Institute 2016</a>


The LiDAR and imagery data used to create this raster teaching data subset were 
collected over the 
<a href="{{ site.baseurl }}" target="_blank">National Ecological Observatory Network's </a> (NEON)
<a href="{{ site.baseurl }}/field-sites/field-sites-map/TEAK" target="_blank">Lower Teakettle</a>, 
<a href="{{ site.baseurl }}/field-sites/field-sites-map/SOAP" target="_blank">Soaproot Saddle </a> and
<a href="{{ site.baseurl }}/field-sites/field-sites-map/SJER" target="_blank">San Joaquin Experimental Range</a>
field sites and processed at NEON 
headquarters. The entire dataset can be accessed by request from the 
<a href="data.neonscience.org" target="_blank"> NEON Airborne Data request page</a>
 on the NEON website.
