<div><a href="https://ndownloader.figshare.com/files/7024271" class="btn btn-success">
Download NEON Teaching Data Subset: Imaging Spectrometer Data - HDF5 </a>
</div>

These hyperspectral remote sensing data provide information on the
<a href="http://www.neonscience.org/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://www.neonscience.org/science-design/field-sites/san-joaquin-experimental-range" target="_blank"> San Joaquin Experimental Range</a> 
field site.
The data were collected over the San Joaquin field site located in California 
(Domain 17) and processed at NEON headquarters. The entire dataset can be accessed 
from the 
<a href="http://neonscience.org/data-resources/get-data/airborne-data" target="_blank">
NEON website.</a>