<a href="https://ndownloader.figshare.com/files/7907590" class="link--button link--arrow">
Download NEON Teaching Data Subset: Field Site Spatial Data</a>

These remote sensing data files provide information on the vegetation at the 

<a href="/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="{{ site.baseurl }}/field-sites/field-sites-map/SJER" target="_blank"> San Joaquin Experimental Range</a> 
and 
<a href="{{ site.baseurl }}/field-sites/field-sites-map/SOAP" target="_blank"> Soaproot Saddle</a> 

field sites.
The entire dataset can be accessed by request from the 
<a href="http://data.neonscience.org" target="_blank"> NEON Data Portal</a>.
