<div><a href="https://ndownloader.figshare.com/files/5401253" class="link--button link--arrow">
Download NEON Teaching Data Subset: SJER-Data Institute 2016</a>
</div>

The LiDAR and imagery data used to create this raster teaching data subset were 
collected over the 
<a href="http://{{ site.baseurl }}/" target="_blank">National Ecological Observatory Network's </a> (NEON)
<a href="http://{{ site.baseurl }}/science-design/field-sites/san-joaquin-experimental-range" target="_blank">San Joaquin Experimental Range field site </a>
and processed at NEON 
headquarters. The entire dataset can be accessed by request from the 
<a href="http://{{ site.baseurl }}/data-resources/get-data/airborne-data" target="_blank"> NEON Airborne Data request page</a>
 on the NEON website.
