<a href="https://ndownloader.figshare.com/files/7024955" class="link--button link--arrow">
Download NEON Teaching Data Subset: Sample LiDAR Point Cloud Data (.las)</a>


This .las file contains sample LiDAR point cloud data collected by
<a href="/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="{{ site.baseurl }}/data-collection/airborne-remote-sensing" target="_blank"> Airborne Observation Platform</a> 
group. The .las file format is a commonly used file format to store LIDAR point 
cloud data.