<a href="https://ndownloader.figshare.com/files/7024985" class="link--button link--arrow">
Download NEON Teaching Data Subset: Sample Tower Temperature - HDF5 </a>

These temperature data were collected by the
<a href="http://{{ site.baseurl }}/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://{{ site.baseurl }}/science-design/collection-methods/flux-tower-measurements" target="_blank">Flux Towers </a>.
The entire dataset can be accessed from the 
<a href="http://neonscience.org/data-resources/get-data/airborne-data" target="_blank">NEON website.</a>