<h3><a href="https://ndownloader.figshare.com/files/21788199">
Download NEON Teaching Dataset: Full Tile Imaging Spectrometer Data - HDF5 (650Mb)</a></h3>

These hyperspectral remote sensing data provide information on the
<a href="/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="/field-sites/field-sites-map/SJER" target="_blank" > San Joaquin Exerimental Range field site</a> in March of 2019.
The data were collected over the San Joaquin field site located in California 
(Domain 17) and processed at NEON headquarters. The entire dataset can be accessed by request from the 
<a href="http://data.neonscience.org" target="_blank"> NEON Data Portal</a>.

<a href="https://ndownloader.figshare.com/files/21788199" class="link--button link--arrow">
Download Dataset</a>

<p>
</p>