<a href="https://ndownloader.figshare.com/files/7024985" class="link--button link--arrow">
Download NEON Teaching Data Subset: Sample Tower Temperature - HDF5 </a>

These temperature data were collected by the
<a href="/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="{{ site.baseurl }}/field-sites/field-sites-map" target="_blank">flux towers at field sites across the US</a>.
The entire dataset can be accessed by request from the 
<a href="http://data.neonscience.org" target="_blank"> NEON Data Portal</a>.