<div><a href="https://ndownloader.figshare.com/files/7907590" class="link--button link--arrow">
Download NEON Teaching Data Subset: Field Site Spatial Data</a>
</div>

These remote sensing data files provide information on the vegetation at the 
<a href="http://{{ site.baseurl }}/" target="_blank"> National Ecological Observatory Network's</a> 
<a href="http://{{ site.baseurl }}/science-design/field-sites/san-joaquin-experimental-range" target="_blank"> San Joaquin Experimental Range</a> 
and 
<a href="http://{{ site.baseurl }}/science-design/field-sites/soaproot-saddle" target="_blank"> Soaproot Saddle</a> 
field sites.
This data is intended for educational purposes, for access to all the data for 
research purposes visit the 
<a href="http://www.neondata.org/" target="_blank"> NEON Data Portal</a>. 
