<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>About Raster Data</title>

<script type="text/javascript">
window.onload = function() {
  var imgs = document.getElementsByTagName('img'), i, img;
  for (i = 0; i < imgs.length; i++) {
    img = imgs[i];
    // center an image if it is the only element of its parent
    if (img.parentElement.childElementCount === 1)
      img.parentElement.style.textAlign = 'center';
  }
};
</script>





<style type="text/css">
body, td {
   font-family: sans-serif;
   background-color: white;
   font-size: 13px;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 20px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 {
   font-size:2.2em;
}

h2 {
   font-size:1.8em;
}

h3 {
   font-size:1.4em;
}

h4 {
   font-size:1.0em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre, img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}
pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 1px solid #ccc;
}

code[class] {
  background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}
</style>



</head>

<body>
<p>In this tutorial, we will review the fundamental principles, packages and 
metadata/raster attributes that are needed to work with raster data in R. 
We discuss the three core metadata elements that we need to understand to work 
with rasters in R: <strong>CRS</strong>, <strong>extent</strong> and <strong>resolution</strong>. It also explores
missing and bad data values as stored in a raster and how R handles these
elements. Finally, it introduces the GeoTiff file format.</p>

<div id="ds-objectives" markdown="1">

## Learning Objectives

After completing this tutorial, you will be able to:

* Understand what a raster dataset is and its fundamental attributes.
* Know how to explore raster attributes in R.
* Be able to import rasters into R using the raster package.
* Be able to quickly plot a raster file in R.
* Understand the difference between single- and multi-band rasters.

## Things You’ll Need To Complete This Tutorial
You will need the most current version of R and, preferably, RStudio loaded
on your computer to complete this tutorial.

### Install R Packages

* **raster:** install.packages(&ldquo;raster&rdquo;)
* **rgdal:** install.packages(&ldquo;rgdal&rdquo;)

* <a href="https://www.neonscience.org/packages-in-r" target="_blank"> More on Packages in R </a>– Adapted from Software Carpentry.

### Download Data
{% include/dataSubsets/_data_Airborne-Remote-Sensing.html %}

****

{% include/_greyBox-wd-rscript.html %}

****

* <a href="http://cran.r-project.org/web/packages/raster/raster.pdf" target="_blank">
Read more about the raster package in R.</a>
* <a href="https://www.neonscience.org/raster-data-r" target="_blank"> NEON Data Skills tutorial: Raster Data in R - The Basics</a>
* <a href="https://www.neonscience.org/image-raster-data-r" target="_blank"> NEON Data Skills tutorial: Image Raster Data in R - An Intro</a>

</div>

<h2>About Raster Data</h2>

<p>Raster or &ldquo;gridded&rdquo; data are stored as a grid of values which are rendered on a 
map as pixels. Each pixel value represents an area on the Earth&#39;s surface.</p>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/raster_concept.png">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/raster_concept.png">
    </a>
    <figcaption> Source: National Ecological Observatory Network (NEON)
    </figcaption>
</figure>

<h2>Types of Data Stored in Raster Format</h2>

<p>Raster data can be continuous or categorical. Continuous rasters can have a 
range of quantitative values. Some examples of continuous rasters include:</p>

<ol>
<li>Precipitation maps.</li>
<li>Maps of tree height derived from LiDAR data.</li>
<li>Elevation values for a region. </li>
</ol>

<p>A map of elevation for Harvard Forest derived from the 
<a href="https://www.neonscience.org/data-collection/airborne-remote-sensing" target="_blank"> 
NEON AOP LiDAR sensor</a> 
is below. Elevation is represented as continuous numeric variable in this map. 
The legend shows the continuous range of values in the data from around 300 to 
420 meters.</p>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/elevation-map-1.png" alt=" "/></p>

<p>Some rasters contain categorical data where each pixel represents a discrete
class such as a landcover type (e.g., &ldquo;forest&rdquo; or &ldquo;grassland&rdquo;) rather than a
continuous value such as elevation or temperature. Some examples of classified
maps include:</p>

<ol>
<li>Landcover/land-use maps.</li>
<li>Tree height maps classified as short, medium, tall trees.</li>
<li>Elevation maps classified as low, medium and high elevation.</li>
</ol>

<h4>Categorical Landcover Map for the United States</h4>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/geospatial-skills/NLCD06_conus_lg.gif ">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/geospatial-skills/NLCD06_conus_lg.gif">
    </a>
    <figcaption> Map of the United States showing landcover as categorical data.
    Each color is a different landcover category.  Source: 
    <a href="http://www.mrlc.gov/nlcd06_data.php" target="_blank">
    Multi-Resolution Land Characteristics Consortium, USGS</a> 
    </figcaption>
</figure>

<h4>Categorical Elevation Map of the NEON Harvard Forest Site</h4>

<p>The legend of this map shows the colors representing each discrete class. </p>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/classified-elevation-map-1.png" alt=" "/></p>

<h2>What is a GeoTIFF??</h2>

<p>Raster data can come in many different formats. In this tutorial, we will use the 
geotiff format which has the extension <code>.tif</code>. A <code>.tif</code> file stores metadata
or attributes about the file as embedded <code>tif tags</code>. For instance, your camera
might 
store a tag that describes the make and model of the camera or the date the
photo was taken when it saves a <code>.tif</code>. A GeoTIFF is a standard <code>.tif</code> image
format with additional spatial (georeferencing) information embedded in the file
as tags. These tags can include the following raster metadata:</p>

<ol>
<li>A Coordinate Reference System (<code>CRS</code>)</li>
<li>Spatial Extent (<code>extent</code>)</li>
<li>Values that represent missing data (<code>NoDataValue</code>)</li>
<li>The <code>resolution</code> of the data</li>
</ol>

<p>In this tutorial we will discuss all of these metadata tags.</p>

<p>More about the  <code>.tif</code> format:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/GeoTIFF" target="_blank"> GeoTIFF on Wikipedia</a></li>
<li><a href="https://trac.osgeo.org/geotiff/" target="_blank"> OSGEO TIFF documentation</a></li>
</ul>

<h2>Raster Data in R</h2>

<p>Let&#39;s first import a raster dataset into R and explore its metadata.
To open rasters in R, we will use the <code>raster</code> and <code>rgdal</code> packages.</p>

<pre><code># load libraries
library(raster)
library(rgdal)

# set working directory to ensure R can find the file we wish to import
# setwd(&quot;working-dir-path-here&quot;)
</code></pre>

<h2>Open a Raster in R</h2>

<p>We can use the <code>raster(&quot;path-to-raster-here&quot;)</code> function to open a raster in R. </p>

<div id="ds-dataTip" markdown="1">
<i class="fa fa-star"></i> **Data Tip:**  OBJECT NAMES! To improve code 
readability, file and object names should be used that make it clear what is in 
the file. The data for this tutorial were collected over from Harvard Forest so 
we&rsquo;ll use a naming convention of datatype_HARV. 
</div>

<pre><code># Load raster into R
DSM_HARV &lt;- raster(&quot;NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif&quot;)

# View raster structure
DSM_HARV 

## class      : RasterLayer 
## dimensions : 1367, 1697, 2319799  (nrow, ncol, ncell)
## resolution : 1, 1  (x, y)
## extent     : 731453, 733150, 4712471, 4713838  (xmin, xmax, ymin, ymax)
## crs        : +proj=utm +zone=18 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +towgs84=0,0,0 
## source     : /Users/olearyd/Git/data/NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif 
## names      : HARV_dsmCrop 
## values     : 305.07, 416.07  (min, max)

# plot raster
# note \n in the title forces a line break in the title
plot(DSM_HARV, 
     main=&quot;NEON Digital Surface Model\nHarvard Forest&quot;)
</code></pre>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/open-raster-1.png" alt=" "/></p>

<p>Here is a map showing the elevation of our site in Harvard Forest. </p>

<h2>Coordinate Reference System</h2>

<p>The Coordinate Reference System or <code>CRS</code> tells R where the raster is located
in geographic space. It also tells R what method should be used to &ldquo;flatten&rdquo;
or project the raster in geographic space. </p>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/geospatial-skills/USMapDifferentProjections_MCorey_Opennews-org.jpg">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/geospatial-skills/USMapDifferentProjections_MCorey_Opennews-org.jpg">
    </a>
    <figcaption> Maps of the United States in different projections. Notice the 
    differences in shape associated with each different projection. These 
    differences are a direct result of the calculations used to &ldquo;flatten&rdquo; the 
    data onto a 2-dimensional map. Source: M. Corey, opennews.org</figcaption>
</figure>

<h3>What Makes Spatial Data Line Up On A Map?</h3>

<p>There are lots of great resources that describe coordinate reference systems and
projections in greater detail (read more, below). For the purposes of this 
activity, what is important to understand is that data from the same location 
but saved in <strong>different projections will not line up in any GIS or other 
program</strong>. Thus, it&#39;s important when working with spatial data in a program like 
R to identify the coordinate reference system applied to the data and retain 
it throughout data processing and analysis.</p>

<p>Read More: </p>

<ul>
<li><a href="http://spatialreference.org/ref/epsg/" target="_blank"> A comprehensive online library of CRS information.</a></li>
<li><a href="http://docs.qgis.org/2.0/en/docs/gentle_gis_introduction/coordinate_reference_systems.html" target="_blank">QGIS Documentation - CRS Overview.</a></li>
<li><a href="https://source.opennews.org/en-US/learning/choosing-right-map-projection/" target="_blank">Choosing the Right Map Projection.</a></li>
<li><a href="https://www.nceas.ucsb.edu/~frazier/RSpatialGuides/OverviewCoordinateReferenceSystems.pdf" target="_blank"> NCEAS Overview of CRS in R.</a></li>
</ul>

<h3>How Map Projections Can Fool the Eye</h3>

<p>Check out this short video, from 
<a href="https://www.youtube.com/channel/UCBUVGPsJzc1U8SECMgBaMFw" target="_blank"> Buzzfeed</a>, 
highlighting how map projections can make continents 
seems proportionally larger or smaller than they actually are!</p>

<iframe width="640" height="360" src="https://www.youtube.com/embed/KUF_Ckv8HbE" frameborder="0" allowfullscreen></iframe>

<h3>View Raster Coordinate Reference System (CRS) in R</h3>

<p>We can view the <code>CRS</code> string associated with our R object using the<code>crs()</code> 
method. We can assign this string to an R object, too.</p>

<pre><code># view resolution units
crs(DSM_HARV)

## CRS arguments:
##  +proj=utm +zone=18 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +towgs84=0,0,0

# assign crs to an object (class) to use for reprojection and other tasks
myCRS &lt;- crs(DSM_HARV)
myCRS

## CRS arguments:
##  +proj=utm +zone=18 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +towgs84=0,0,0
</code></pre>

<p>The <code>CRS</code> of our <code>DSM_HARV</code> object tells us that our data are in the UTM 
projection.</p>

<figure>
    <a href="https://en.wikipedia.org/wiki/File:Utm-zones-USA.svg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Utm-zones-USA.svg/720px-Utm-zones-USA.svg.png"></a>
    <figcaption> The UTM zones across the continental United States. Source: 
    Chrismurf, wikimedia.org.
        </figcaption>
</figure>

<p>The CRS in this case is in a <code>PROJ 4</code> format. This means that the projection
information is strung together as a series of text elements, each of which 
begins with a <code>+</code> sign. </p>

<p><code>+proj=utm +zone=18 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +towgs84=0,0,0</code></p>

<p>We&#39;ll focus on the first few components of the CRS in this tutorial.</p>

<ul>
<li><code>+proj=utm</code> The projection of the dataset. Our data are in Universal 
Transverse Mercator (UTM).<br/></li>
<li><code>+zone=18</code> The UTM projection divides up the world into zones, this element
tells you which zone the data are in. Harvard Forest is in Zone 18.</li>
<li><code>+datum=WGS84</code> The datum was used to define the center point of the 
projection. Our raster uses the <code>WGS84</code> datum.</li>
<li><code>+units=m</code> This is the horizontal units that the data are in. Our units 
are meters. </li>
</ul>

<h2>Extent</h2>

<p>The spatial extent is the geographic area that the raster data covers. </p>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/vector-general/spatial_extent.png">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/vector-general/spatial_extent.png">
    </a>
    <figcaption> Image Source: National Ecological Observatory Network (NEON)
    </figcaption>
</figure>

<p>The spatial extent of an R spatial object represents the geographic &ldquo;edge&rdquo; or 
location that is the furthest north, south, east and west. In other words, <code>extent</code> 
represents the overall geographic coverage of the spatial object.</p>

<h2>Resolution</h2>

<p>A raster has horizontal (x and y) resolution. This resolution represents the 
area on the ground that each pixel covers. The units for our data are in meters.
Given our data resolution is 1 x 1, this means that each pixel represents a 
1 x 1 meter area on the ground.</p>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/raster_resolution.png">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/raster_resolution.png">
    </a>
    <figcaption> Source: National Ecological Observatory Network (NEON)
    </figcaption>
</figure>

<p>The best way to view resolution units is to look at the 
coordinate reference system string <code>crs()</code>. Notice our data contains: <code>+units=m</code>.</p>

<pre><code>crs(DSM_HARV)

## CRS arguments:
##  +proj=utm +zone=18 +datum=WGS84 +units=m +no_defs +ellps=WGS84 +towgs84=0,0,0
</code></pre>

<h2>Calculate Raster Min and Max Values</h2>

<p>It is useful to know the minimum or maximum values of a raster dataset. In
this case, given we are working with elevation data, these values represent the 
min/max elevation range at our site.</p>

<p>Raster statistics are often calculated and embedded in a <code>geotiff</code> for us. 
However if they weren&#39;t already calculated, we can calculate them using the
<code>setMinMax()</code> function.</p>

<pre><code># This is the code if min/max weren&#39;t calculated: 
# DSM_HARV &lt;- setMinMax(DSM_HARV) 

# view the calculated min value
minValue(DSM_HARV)

## [1] 305.07

# view only max value
maxValue(DSM_HARV)

## [1] 416.07
</code></pre>

<p>We can see that the elevation at our site ranges from 305.07m to 416.07m.</p>

<h2>NoData Values in Rasters</h2>

<p>Raster data often has a <code>NoDataValue</code> associated with it. This is a value 
assigned to pixels where data are missing or no data were collected. </p>

<p>By default the shape of a raster is always square or rectangular. So if we 
have  a dataset that has a shape that isn&#39;t square or rectangular, some pixels
at the edge of the raster will have <code>NoDataValue</code>s. This often happens when the 
data were collected by an airplane which only flew over some part of a defined 
region. </p>

<p>In the image below, the pixels that are black have <code>NoDataValue</code>s.
The camera did not collect data in these areas. </p>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/demonstrate-no-data-black-1.png" alt=" "/></p>

<p>In the next image, the black edges have been assigned <code>NoDataValue</code>. R doesn&#39;t 
render pixels that contain a specified <code>NoDataValue</code>. R assigns missing data 
with the <code>NoDataValue</code> as <code>NA</code>.</p>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/demonstrate-no-data-1.png" alt=" "/></p>

<h3>NoData Value Standard</h3>

<p>The assigned <code>NoDataValue</code> varies across disciplines; <code>-9999</code> is a common value 
used in both the remote sensing field and the atmospheric fields. It is also
the standard used by the <a href="https://www.neonscience.org/" target="_blank"> 
National Ecological Observatory Network (NEON)</a>. </p>

<p>If we are lucky, our GeoTIFF file has a tag that tells us what is the
<code>NoDataValue</code>. If we are less lucky, we can find that information in the
raster&#39;s metadata. If a <code>NoDataValue</code> was stored in the GeoTIFF tag, when R
opens up the raster, it will assign each instance of the value to <code>NA</code>. Values
of <code>NA</code> will be ignored by R as demonstrated above.</p>

<h2>Bad Data Values in Rasters</h2>

<p>Bad data values are different from <code>NoDataValue</code>s. Bad data values are values 
that fall outside of the applicable range of a dataset. </p>

<p>Examples of Bad Data Values:</p>

<ul>
<li>The normalized difference vegetation index (NDVI), which is a measure of 
greenness, has a valid range of -1 to 1. Any value outside of that range would 
be considered a &ldquo;bad&rdquo; or miscalculated value.</li>
<li>Reflectance data in an image will often range from 0-1 or 0-10,000 depending 
upon how the data are scaled. Thus a value greater than 1 or greater than 10,000
is likely caused by an error in either data collection or processing.</li>
</ul>

<h3>Find Bad Data Values</h3>

<p>Sometimes a raster&#39;s metadata will tell us the range of expected values for a
raster. Values outside of this range are suspect and we need to consider than
when we analyze the data. Sometimes, we need to use some common sense and
scientific insight as we examine the data - just as we would for field data to
identify questionable values. </p>

<h2>Create A Histogram of Raster Values</h2>

<p>We can explore the distribution of values contained within our raster using the 
<code>hist()</code> function which produces a histogram. Histograms are often useful in 
identifying outliers and bad data values in our raster data.</p>

<pre><code># view histogram of data
hist(DSM_HARV,
     main=&quot;Distribution of Digital Surface Model Values\n Histogram Default: 100,000 pixels\n NEON Harvard Forest&quot;,
     xlab=&quot;DSM Elevation Value (m)&quot;,
     ylab=&quot;Frequency&quot;,
     col=&quot;wheat&quot;)

## Warning in .hist1(x, maxpixels = maxpixels, main = main, plot = plot, ...): 4% of the raster
## cells were used. 100000 values used.
</code></pre>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/view-raster-histogram-1.png" alt=" "/></p>

<p>Notice that a warning is shown when R creates the histogram. </p>

<p><code>Warning in .hist1(x, maxpixels = maxpixels, main = main, plot = plot, ...): 4%  
of the raster cells were used. 100000 values used.</code></p>

<p>This warning is caused by the default maximum pixels value of 100,000 associated 
with the <code>hist</code> function. This maximum value is to ensure processing efficiency
as our data become larger!</p>

<ul>
<li>More on 
<a href="http://www.r-bloggers.com/basics-of-histograms/" target="_blank">histograms in R from R-bloggers</a></li>
</ul>

<p>We can define the max pixels to ensure that all pixel values are included in the
histogram. <strong>USE THIS WITH CAUTION</strong> as forcing R to plot all pixel values
in a histogram can be problematic when dealing with very large datasets.</p>

<pre><code># View the total number of pixels (cells) in is our raster 
ncell(DSM_HARV)

## [1] 2319799

# create histogram that includes with all pixel values in the raster
hist(DSM_HARV, 
     maxpixels=ncell(DSM_HARV),
     main=&quot;Distribution of DSM Values\n All Pixel Values Included\n NEON Harvard Forest Field Site&quot;,
     xlab=&quot;DSM Elevation Value (m)&quot;,
     ylab=&quot;Frequency&quot;,
     col=&quot;wheat4&quot;)
</code></pre>

<p><img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/tutorials/R/Geospatial-skills/intro-raster-r/00-Raster-Structure/rfigs/view-raster-histogram2-1.png" alt=" "/></p>

<p>Note that the shape of both histograms looks similar to the previous one that
 was created using a representative 10,000 pixel subset of our raster data. The 
distribution of elevation values for our <code>Digital Surface Model (DSM)</code> looks 
reasonable. It is likely there are no bad data values in this particular raster.</p>

<h2>Raster Bands</h2>

<p>The Digital Surface Model object (<code>DSM_HARV</code>) that we&#39;ve been working with 
is a single band raster. This means that there is only one dataset stored in 
the raster: surface elevation in meters for one time period.</p>

<figure>
    <a href="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/single_multi_raster.png">
    <img src="https://raw.githubusercontent.com/NEONScience/NEON-Data-Skills/dev-aten/graphics/raster-general/single_multi_raster.png"></a>
    <figcaption>Source: National Ecological Observatory Network (NEON).
    </figcaption>
</figure>

<p>A raster dataset can contain one or more bands. We can use the <code>raster()</code> function 
to import one single band from a single OR multi-band raster. We can view the number 
of bands in a raster using the <code>nlayers()</code> function. </p>

<pre><code># view number of bands
nlayers(DSM_HARV)

## [1] 1
</code></pre>

<p>However, raster data can also be multi-band meaning that one raster file 
contains data for more than one variable or time period for each cell. By
default the <code>raster()</code> function only imports the first band in a raster
regardless of whether it has one or more bands. Jump to the fourth tutorial in 
this series for a tutorial on multi-band rasters: 
<a href="https://www.neonscience.org/dc-multiband-rasters-r" target="_blank">
<em>Work with Multi-band Rasters: Images in R</em></a>.</p>

<h2>View Raster File Attributes</h2>

<p>Remember that a <code>GeoTIFF</code> contains a set of embedded tags that contain 
metadata about the raster. So far, we&#39;ve explored raster metadata <strong>after</strong>
importing it in R. However, we can use the <code>GDALinfo(&quot;path-to-raster-here&quot;)</code>
function to view raster metadata before we open a file in R.</p>

<pre><code># view attributes before opening file
GDALinfo(&quot;NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif&quot;)

## rows        1367 
## columns     1697 
## bands       1 
## lower left origin.x        731453 
## lower left origin.y        4712471 
## res.x       1 
## res.y       1 
## ysign       -1 
## oblique.x   0 
## oblique.y   0 
## driver      GTiff 
## projection  +proj=utm +zone=18 +datum=WGS84 +units=m +no_defs 
## file        NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif 
## apparent band summary:
##    GDType hasNoDataValue NoDataValue blockSize1 blockSize2
## 1 Float64           TRUE       -9999          1       1697
## apparent band statistics:
##     Bmin   Bmax    Bmean      Bsd
## 1 305.07 416.07 359.8531 17.83169
## Metadata:
## AREA_OR_POINT=Area
</code></pre>

<p>Notice a few things in the output:</p>

<ol>
<li>A projection is described using a string in the <code>proj4</code> format :
<code>+proj=utm +zone=18 +datum=WGS84 +units=m +no_defs</code></li>
<li>We can identify a <code>NoDataValue</code>: -9999</li>
<li>We can tell how many <code>bands</code> the file contains: 1</li>
<li>We can view the x and y <code>resolution</code> of the data: 1</li>
<li>We can see the min and max values of the data: <code>Bmin</code> and <code>Bmax</code>.</li>
</ol>

<p>It is ideal to use <code>GDALinfo</code> to explore your file <strong>before</strong> reading it into 
R.</p>

<div id="ds-challenge" markdown="1">

### Challenge: Explore Raster Metadata 

Without using the raster function to read the file into R, determine the
following about the  NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_DSMhill.tif file:

1. Does this file has the same CRS as DSM_HARV?
2. What is the NoDataValue?
3. What is resolution of the raster data? 
4. How large would a 5x5 pixel area would be on the Earth&rsquo;s surface? 
5. Is the file a multi- or single-band raster?

Notice: this file is a hillshade. We will learn about hillshades in
<a href="https://www.neonscience.org/dc-multiband-rasters-r" target="_blank"> *Work with Multi-band Rasters: Images in R*</a>.
 
</div>

</body>

</html>
