<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imageFeature.html %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">

{{ content }}


<h2>Upcoming Events</h2>
{% for post in site.categories['workshop-event'] limit:3 %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}


{% if posttime > nowunix %}
		<article>
            <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                <h2 class="list-group-item-heading">{{ post.title }}</h2>
                <span class="post-date">
                {% if post.date %}{{ post.date | date: "%b %-d, %Y" }}{% endif %}
				{% if post.location %}, {{ post.location | date: "%b %-d, %Y" }}{% endif %}</span>
            <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </a>
            </article>
{% endif %}
{% endfor %}

<h2>Get Started With Our Data Tutorial Series!</h2>

{% for member in site.data.tutorialSeries limit:3 %}
{% assign counter = 0 %}
<!-- this code counts the number of posts associated with each tutorial series member (tutorialSeries.yml -->
{% for post in site.posts %}
	{% if post.tutorialSeries contains member.slug %}
	{% assign counter = counter | plus: 1 %}
	{% endif %}
{% endfor %}	

  <article class="tutorial-series">	
            <a href="{{ site.baseurl }}/tutorial-series/{{ member.slug }}" class="list-group-item">
                <h2 class="list-group-item-heading">{{ member.name  }}</h2>
                <span class="post-date">
                {% if member.lastModified %}last modified: {{ member.lastModified | date: "%b %-d, %Y" }}{% endif %}</span>

            <p>{{ member.description }}</p>
            <strong>Total tutorials: {{ counter }}</strong>
            </a>
   </article>         
{% endfor %}

  <h2>3 Newest Data Tutorials</h2>
  {% for post in site.categories['self-paced-tutorial'] limit:3 %}
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <span class="post-date">
      {% if post.lastModified %}Last modified: {{ post.lastModified | date: "%b %-d, %Y" }}{% endif %}
      {% if post.packagesLibraries %} - Libraries: {{ post.packagesLibraries | join: ', ' %}}{% endif %}
      </span>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
    {% endif %}
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
