<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">
  <h1>{{ page.title }}</h1>
  {{ content }}
  
  By Topic
   {% for category in site.categories %}
   
   {% if data_category.slug == category %}
   {{ tag.name }}
      <h3><a name="{{ category | first }}">{{ category | first }}</a></h3>
      
  	    {% for posts in category %}
  	      {% for post in posts %}
  	      <article>
  	      {% if post.url %}	      
  	        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  	       <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
  	       
  	       <!-- <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> --> 	       
  	        {% endif %}
  	        </article>
  	      {% endfor %}
  	    {% endfor %}
  	    {% endif %} 
	{% endfor %}
<br>
<br>
<br>
 By Date
  {% for post in site.posts %}
  {% unless post.next %}
    <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      {% endif %}
    </article>
  {% endfor %}
  
 {% assign post = page %}
  
  
  <h1>TRYING ANOTHER THING OUT</h1>
  
        {% for post in site.tags %}
            {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if forloop.first %}
               <!-- <h3>{{ post_year }}</h3>--><div class="list-group"> 
            {% endif %}
			
            {% if forloop.first == false %}
                {% assign previous_index = forloop.index0 | minus: 1 %}
                {% capture previous_post_year %}{{ site.tags[previous_index].date | date: '%Y' }}{% endcapture %}
                {% if post_year != previous_post_year %}
                    </div><h3>{{ post_year }}</h3><div class="list-group">
                {% endif %}
            {% endif %}
			
            <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                <h2 class="list-group-item-heading">{{ post.title }}</h2>
                <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
            </a>

            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}

  
  
  
  
  
  
  
  
  <h1>Articles by tag take 2222 :</h1>
<div>
    {% if site.tags %}
        {% for post in site.tags %}
            <a href="{{ post.url }}/">{{ post.title }}</a>
        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>

<h1>Articles by tag }</h1>
<div>
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
            <a href="{{ post.url }}/">{{ post.title }}</a>
        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>




    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    
    {% for currentTag in site.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == currentTag %}
                {% assign tag = data_tag %}
                {{ tag.name }} this is tag name here
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}







</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>